
.container {
    background-image: url("../../images/dog_patita.jpg");
}

.dogsCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titleHome {
    text-shadow: rgba(31, 24, 24, 0.75) 4px 4px 15px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
    color: brown;
    margin-bottom: 20px;
    margin-left: 590px;
}

.select{
    border-radius: 5px;
    border: 1px solid palevioletred;
    margin-left: 50px;
    
} 

.selectContainer{
    margin-left: 250px;
}

.links{
    text-decoration: none;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-left: 1200px;
    border-top: 20px;
    cursor: pointer;
    border: 1px solid palevioletred;
    border-radius: 5px;
}

.button{
    margin-left: 615px;
    margin-top: 15px;
    margin-bottom: 15px;
}